<%= link_to(image_tag("covers/#{cover}"), cover_path(isbn_from_filename(cover))) %>
<p><%= quality_from_filename(cover) || 'original' %> <%= image_dimensions(cover, "| ") %> | <strong><%= filesize(cover) %> KB</strong></p>