<div class="span12">
    <div id="masonry-container" class="transitions-enabled clearfix">
        <% @files.shuffle.each do |cover| %>
          <%= render "cover", cover: cover, masonry: true %>
        <% end %>
    </div>
  </div>
</div>