<div class="row">
  <div class="span10 offset1">
    <div id="masonry-container" class="transitions-enabled clearfix">
        <% @files.each do |cover| %>
          <div class="box col2" style="text-align:center">
            <%= render "cover", cover: cover %>
          </div>
        <% end %>
    </div>
  </div>
</div>