<div class="row">
  <div class="span3">
    <%= render "sidebar" %>
  </div>
  <div class="span9">
    <table>
      <% @files.each do | original, new_file| %>
      <tr>
        <td>
          <%= render "cover", cover: original %>
        </td>
        <td>
          <%= render "cover", cover: new_file %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>